---
import FormattedDate from "../../components/FormattedDate.astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<BaseLayout title="Blog Page">
  <div class="container grid gap-4">
    <h1 class="text-4xl font-bold mb-4">Recent Blog Posts</h1>
    <a href="/" class="underline">Return home</a>
    <ul>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.date} />
            <a class="underline text-arg-dark" href={`/${post.slug}/`}>
              {post.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
