---
import BaseLayout from "../layouts/BaseLayout.astro";
import { CTA } from "../components/CTA";
---

<BaseLayout>
  <div class="w-[32em] mx-auto max-w-full">
    <CTA client:visible />
  </div>
</BaseLayout>
