---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";
import Link from "../components/ui/Link.astro";
import Heading from "../components/ui/Heading.astro";
---

<BaseLayout title="404 Not Found">
  <div class="grid grid-rows-1fr-auto h-full gap-6 pt-8">
    <div
      class="grid sm:place-items-center place-content-center gap-4 container"
    >
      <Heading tag={"h1"}>Welp, this is awkward.</Heading>
      <p>We seem to have misplaced something…</p>
      <Link href="/" type={"btn"} underlined={false}>Go Home</Link>
    </div>
    <div class="bg-arg-dark p-6 sm:p-8">
      <div class="mx-auto grid gap-6 place-content-center">
        <Heading tag={"h2"} size={"h3"}>Get on the waitlist</Heading>
        <CTA />
      </div>
    </div>
  </div>
</BaseLayout>
