---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { Hero } from "../components/Hero";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Copy } from "../components/Copy";
import { CTA } from "../components/CTA";
import { About } from "../components/About";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="w-[32em] mx-auto max-w-full">
      <Hero />
      <Copy />
      <CTA client:visible />
    </main>
    <aside class="w-[32em] mx-auto max-w-full">
      <small class="block mb-8"
        >*Technically speaking, "Argentinian Spanish" isn't a thing. At least if
        you ask a linguist. What we really mean is something called <a
          href="https://en.wikipedia.org/wiki/Rioplatense_Spanish"
          >Rioplatense Spanish</a
        > which is sometimes referred to as "Argentine Spanish" or "Argentinian Spanish"
        in our case. It's used in places like Buenos Aires. This course will cover
        other regional dialects of Argentina but focus on this one in particular.</small
      >
      <About />
    </aside>
    <Footer />
  </body>
</html>
