---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard";
import SearchWidget from "../components/search/SearchWidget.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const copy =
  "Welcome to the Speak Argentinian Spanish blog! Learn about the Rioplatense dialect spoken in Argentina, from finding the best content, to tips and tricks, and vocabulary you wish you knew before.";
---

<BaseLayout title="Blog - Speak Argentinian Spanish">
  <div class="bg-arg-white h-full text-arg-dark py-8 sm:py-12">
    <div class="container grid gap-8 sm:gap-12">
      <div class="sm:text-center max-w-prose sm:mx-auto">
        <p class="uppercase text-arg-gold">Blog Posts</p>
        <h1 class="text-4xl font-bold mb-4" id="recent-posts">
          Recently Published Articles
        </h1>
        <p>{copy}</p>
      </div>
      <div class="bg-arg-muted h-1 w-80 max-w-full sm:mx-auto"></div>
      <section
        aria-labelledby="recent-posts"
        class="grid gap-6 sm:grid-cols-2 xl:grid-cols-3 items-start"
      >
        {posts.map((post) => <PostCard post={post} key={post.slug} />)}
      </section>
      <SearchWidget />
    </div>
  </div>
</BaseLayout>
