---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Hero } from "../components/Hero";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<Hero />
		</main>
		<Footer />
		<style>
			body {
				text-color: #222222;
				background: linear-gradient(
					319.51deg,
					#74b3cc 19.16%,
					#8ecae2 44.72%,
					#74b3cc 69.18%
				);
			}
		</style>
	</body>
</html>
