---
import CTA from "../components/CTA.astro";
import ImageGrid from "../components/ImageGrid.astro";
import Heading from "../components/ui/Heading.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="h-full grid content-center">
    <div class="bg-arg-dark py-8 md:py-12 lg:-mt-20">
      <div class="container">
        <div class="flex items-center justify-between">
          <div class="grid gap-4 sm:gap-8">
            <div class="grid gap-2">
              <Heading tag={"h1"}>
                Speak Spanish like a <span class="text-arg-blue"
                  >native Argentine</span
                >
              </Heading>
              <p class="max-w-prose">
                Frustrated? Let’s break through the plateau 💪
              </p>
            </div>
            <CTA />
          </div>
        </div>
      </div>
    </div>
  </div>
  <ImageGrid />
</BaseLayout>
