---
import CTA from "../components/CTA.astro";
import ImageGrid from "../components/ImageGrid.astro";
import Heading from "../components/ui/Heading.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { Icon } from "astro-icon";
import Link from "../components/ui/Link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const today = new Date();

type Props = {
  title?: string;
  description?: string;
  heroImage?: string;
};

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  heroImage,
} = Astro.props;
---

<BaseLayout>
  <div class="bg-arg-dark h-full">
    <div class="container">

    </div>
  </div>
</BaseLayout>