---
import CTA from "../components/CTA.astro";
import Heading from "../components/ui/Heading.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="bg-arg-dark h-full">
    <div class="container gap-3 sm:gap-5 py-10 h-full grid content-center">
      <Heading tag={"h1"} size="h1">Speak Spanish like a <span class="text-arg-blue">native speaker</span></Heading>
        <p class="max-w-lg sm:text-xl">Every Monday morning, I send a 5-minute newsletter to help your Spanish sound more Argentinian.</p>
      <CTA source="index-page" />
    </div>
  </div>
</BaseLayout>