---
export const prerender = false;
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/ui/Heading.astro";
import SearchApp from "../components/search/SearchApp";
---

<BaseLayout title="Search results">
  <div class="bg-arg-white min-h-[80vh] text-arg-dark py-8 sm:py-12">
    <div class="container grid gap-6 sm:gap-8 place-items-center">
      <div class="grid gap-2 place-items-center">
        <Heading tag={"h1"}>Search the Blog</Heading>
        <p>
          Enter a search term to find blog posts on any theme, cultural concept,
          or more.
        </p>
      </div>
      <SearchApp client:load />
    </div>
  </div>
</BaseLayout>
