---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { About } from "../components/About";
import { ThankYou } from "../components/ThankYou";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="w-[32em] mx-auto max-w-full">
    <ThankYou client:only="react" />
  </div>
</BaseLayout>
