---
import { ThankYou } from "../components/ThankYou";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="w-[32em] mx-auto max-w-full">
    <ThankYou client:only="react" />
  </div>
</BaseLayout>
