---
import Link from "./ui/Link.astro";

const today = new Date();
---

<footer class="container text-center py-6">
  <p>
    &copy; {today.getFullYear()}
    <Link
      href="https://twitter.com/joseprevite"
      type={"dark"}
      underlined={true}
    >
      @joseprevite
    </Link>
  </p>
</footer>
