---
const today = new Date();
---

<footer class="text-primary w-[30em] mx-auto mt-8 text-center pb-12 max-w-full">
  &copy; {today.getFullYear()}
  <a href="https://twitter.com/joseprevite">@joseprevite</a>
</footer>
