---
const today = new Date();
---

<footer class="text-primary w-[30em] mx-auto mt-16 max-w-full">
	<small class="block mb-8"
		>*Technically speaking, "Argentinian Spanish" isn't a thing. At least if
		you ask a linguist. What we really mean is something called <a
			href="https://en.wikipedia.org/wiki/Rioplatense_Spanish"
			>Rioplatense Spanish</a
		> which is sometimes referred to as "Argentine Spanish" or "Argentinian Spanish"
		in our case. It's used in places like Buenos Aires. This course will cover
		other regional dialects of Argentina but focus on this one in particular.</small
	>
	&copy; {today.getFullYear()}
	<a href="https://twitter.com/jsjoeio">jsjoeio</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
