---
const today = new Date();
---

<footer class="text-primary">
	&copy; {today.getFullYear()}
	<a href="https://twitter.com/jsjoeio">jsjoeio</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
