---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

type Props = {
  title?: string;
  description?: string;
  heroImage?: string;
};

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  heroImage,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>
  <body class="bg-arg-blue text-arg-white">
    <div class="min-h-screen grid grid-rows-auto-1fr-auto">
      <Nav />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
