---
const ringTypes = {
  dark: "text-arg-dark ring-arg-dark ring-offset-arg-blue hover:text-arg-dark/80",
  btn: "capitalize text-center bg-arg-white text-black font-bold w-fit px-6 py-2 border-2 border-arg-white rounded-md transition-colors hover:bg-arg-blue focus:outline-transparent focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-arg-gold",
  "btn--gold":
    "capitalize text-center bg-arg-gold text-arg-white font-bold w-fit px-6 py-2 rounded-md transition-colors hover:bg-arg-muted focus:outline-transparent focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-arg-gold",
};

type Props = {
  href: string;
  type: keyof typeof ringTypes;
  underlined?: boolean;
  classes?: string;
};

const { href, type, underlined = false, classes, ...rest } = Astro.props;
---

<a
  href={href}
  class:list={[
    ringTypes[type],
    { underline: underlined },
    "focus:outline-transparent focus-visible:ring-4 ring-offset-2 rounded-md",
    classes,
  ]}
  {...rest}
>
  <slot />
</a>
